
@font-face {
    font-family: RobotoLight;
    src: url(font-roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(font-roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(font-roboto/Roboto-Bold.ttf);
}
.robotolight {
    font-family: RobotoLight;
}
.robotomedium {
    font-family: RobotoMedium;
}
.robotobold {
    font-family: RobotoBold;
}



.container {
    width: 1170px;
}

body {
    font-family: 'Arial', serif;
    color: #333333;
    background: #fff;
    font-size: 14px;
    overflow-x: hidden;
}
.page-latido .fa {
    margin-right: 10px;
}
.page-latido a { 
    -webkit-transition: all 0.3s ease-in-out;  
    -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;	
    -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}
.page-latido a:hover, .page-latido a:focus { 
    text-decoration:none;
     color: #fece43;     
}
.page-latido .btn {	
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	-webkit-transform: translate3d(0,0,0);}
.page-latido a, .page-latido .breadcrumb > li + li:before, .page-latido .navbar-default .navbar-nav > .active > a, .page-latido .navbar-default .navbar-nav > .active > a:hover, .page-latido .navbar-default .navbar-nav > .active > a:focus, .page-latido .navbar-default .navbar-nav > li > a:hover, .page-latido .navbar-default .navbar-nav > li > a:focus, .page-latido .dropdown-menu > li > a:hover, .page-latido .dropdown-menu > li > a:focus, .page-latido .title-color {
    color: #000000;
}

/*========== Typography ==========*/

/*---h1, h2, h3, h4...*/
h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 2.4em;
    font-weight: normal;
    color: #000;
    font-family: 'Roboto, sans-serif'; 
}

h3, .h3 {
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    line-height: 1.3;
}

h4, .h4 {
    font-weight: normal;
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    margin-top: 0px;
}
h5 {font-size: 16px; margin-top: 0;}
h6 { margin-top: 0;}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}


/*========== White Space ==========*/
.white-space {display: block; padding:30px 0;}
.white-space.space-small { padding:15px 0;}
.white-space.space-mini { padding:8px 0;}
.white-space.space-medium { padding:25px 0;}
.white-space.space-xsmall { padding:13px 0;}



.white-space.space-big { padding:50px 0;}


/*========== btn ==========*/
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #f7505a;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.border-btn-primary {
    border-color:#f7505a!important;
}
/*alt*/
.btn-primary.btn-alt {border:2px solid; background-color:transparent;}
.btn-primary.btn-alt:hover, .btn-primary.btn-alt:focus, .btn-primary.btn-alt:active {color: #ffffff!important;   border:2px solid;background-color:#f7505a;}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

/*========== color ==========*/
.color-red { color:#f70406!important;}   
.color-green {color:#0267c9!important;}   
.color-info{ color:#999999 !important;}
.color-success{ color:#778899 !important;}
.color-primary{ color:#0368cb !important;}
.color-black{ color:#333333 !important;}


.color-danger{ color:#007dc6 !important;}


.color-note{ color:#aaaaaa !important;}
.color-white{ color:#ffffff !important;}
.color-default{ color:#9dd55d !important;}




/*========== bg ==========*/

.bg-color-info{ background-color:#3a3a3a !important;}
.bg-color-primary{ background-color:#f8f071 !important;}
.bg-color-red{ background-color:#f70406 !important;}




.bg-color-success{ background-color:#f8f071 !important;}
.bg-color-danger{ background-color:#616161 !important;}
.bg-color-warning{ background-color:#e5e5e5 !important;}
.bg-color-green{ background-color:#258dc0 !important;}
.bg-color-green{ background-color:#258dc0 !important;}
.bg-color-gray{ background-color:#e7e7e7 !important;}
.bg-color-white{ background-color:#ffffff !important;}
.bg-color-none{ background-color:transparent !important}

/*========== overflow ==========*/
.overflow
{
    overflow: hidden;   
}
.max-height1 {
  max-height: 200px;
}
.max-height2 {
  max-height: 240px;
}
/*========== opacity ==========*/
.opacity0
{
    opacity:0;
}
.opacity0-5
{
    opacity:0.5;
}
/*========== position ==========*/
.relative {
    position:relative;    
}
.absolute {
    position:absolute;
}
.static {
    position:static;
}
/*========== botom, top ==========*/
.bottom0 {
    bottom:0px;
}
.top0 {
    top:0px;
}
.left0 {
    left:0px;
}
.right0 {
    right:0px;
}
/*========== position ==========*/
.z-index0 {
    z-index:0;
}
.z-index1 {
    z-index:1;
}
.z-index2 {
    z-index:2;
}
/*========== width ==========*/
.full-width {
    width:100%;
}
.full-height {
    height:100%;
}
/*========== height ==========*/
.height40 {
    height:40px;
}
/*========== transition ==========*/
.transition1 {
    transition: all 0.3s ease-out 0s;
}
/*========== margin ==========*/
.marT0 {
    margin-top:0px;
}
.marT5 {
    margin-top:5px;
}
.marT10 {
    margin-top:10px;
}
.marT15 {
    margin-top:15px;
}
.marT22 {
    margin-top:22px;
}
.marT25 {
    margin-top:25px;
}
.marT35 {
    margin-top:35px;
}
.marB0 {
    margin-bottom:0px;
}
.marB5 {
    margin-bottom:5px!important;
}
.marB10 {
    margin-bottom:10px;
}
.marB15 {
    margin-bottom:15px;
}
.marB20 {
    margin-bottom:20px;
}
.marB35 {
    margin-bottom:35px;
}
.marR0 {
    margin-right:0px!important;
}

.marR5 {
    margin-right:5px;
}
.marR10 {
    margin-right:10px;
}
.marR15 {
    margin-right:15px;
}
.marL0 {
    margin-left:0px;
}
.marL5 {
    margin-left:5px;
}
.marL10 {
    margin-left:10px;
}
.marL15 {
    margin-left:15px;
}
.mar0 {
    margin:0px;
}

/*========== padding ==========*/
.padT0 {padding-top:0px;}
.padT5 {padding-top:5px;}
.padT10 {padding-top:10px;}
.padT15 {padding-top:15px;}
.padB0 {padding-bottom:0px!important;}
.padB5 {padding-bottom:5px;}
.padB10 {padding-bottom:10px;}
.padB15 {padding-bottom:15px;}
.padB20 {padding-bottom:20px;}
.padR0 {padding-right:0px!important;}
.padR5 {padding-right:5px;}
.padR10 {padding-right:10px;}
.padR15 {padding-right:15px;}
.padL0 {padding-left:0px;}
.padL5 {padding-left:5px!important;}
.padL10 {padding-left:10px;}
.padL15 {padding-left:15px;}
.pad0 {padding:0px;}
   
/*========== font-size ==========*/
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f22 {font-size: 22px;}
.f24 {font-size: 24px;}
.f30 {font-size: 30px;}
.f36 {font-size: 36px;}
.f48 {font-size: 48px;}
.f60 {font-size: 60px;}
/*========== border ==========*/
.border-none {
    border:none!important;
}
.border-radius-none {
    border-radius:0!important;
}
.box-shadow-none {
        -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
}
/*========== circle ==========*/
.circle {
    border-radius: 50%;
}
/*========== circle ==========*/
.bold {
   font-weight:700;
}

/*========== box-shadow ==========*/
.box-shadow1 {
     -webkit-transition: all 0.3s ease-in-out;  
    -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;	
    -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}
.box-shadow1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color:#fff!important;
}
/*float*/
.float-none {
    float:none!important;
}
  
/*title-line*/
.title-line {
    text-transform: uppercase;
}
.title-line.center {
    text-align:center;
}
.title-line:after {
    content: "";
    background: #c5c5c5;
    display: block;
    height: 1px;
    margin: 0;
    position: relative;
    width: 100%;
}
.title-line span:after {
    content: "";
    display: block;
    height: 3px;
    margin: 0 0 -2px;
    position: relative;
    width: 25%;
    z-index: 2;
    background-color: #f70406;
}
.title-line.center span:after {  
    text-align: center;
    margin: auto;
}
/*placeholder*/
input[placeholder]::-webkit-input-placeholder{    color: rgba(51, 51, 51, 0.50)!important;font-size:14px;font-family: 'Arial', serif;}
.img-center {
    margin:0px auto;
}