
@font-face {
    font-family: SVN-Smirk;
    src: url(../fonts/SVN-Smirk.otf);
}

.SVN-Smirk{
    font-family: SVN-Smirk!important;
}
.bg-primary{
	background-color: #242a3b!important;
}
.bg-info{
	background-color: #242a3b!important;
}

#header{
	background-color: #32394c!important;
}
#header {
	position: fixed;
    top: 35px;
}

#header .menu-item a {

    font-size: 16px;
    font-family: 'SVN-Smirk', sans-serif;
}
/*color*/
.color-info{
	color: #656565!important;
}
.color-primary{
	color: #2e3192!important;
}
.color-yellow{
	color: #fed402!important;
}
.color-white{
	color: #fff!important;
}
.color-green{
    color: #009fe2!important;
}
.color-gray{
    color: #9f9f9f!important;
}
.line-hight1-5{
    line-height: 1.5;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.full-width{
    width: 100%;
}


.bg-yellow{
	background-color: #fed402!important;
}

/*font*/
.f14{
	font-size: 14px!important;
}
.f16{
    font-size: 16px!important;
}

.f30{
	font-size: 30px;
}
.f36{
    font-size: 36px;
}
.marB0{
	margin-bottom: 0px;
}
.marB10{
	margin-bottom: 10px;
}
.marR10{
    margin-right: 10px;
}
.marB15{
	margin-bottom: 15px;
}
.marB20{
	margin-bottom: 20px;
}
.marT0{
	margin-top: 0px;
}
.marT20{
	margin-top: 20px;
}
.padB20{
	padding-bottom: 20px;
}
.padL30{
	padding-left: 30px;
}
.padT20{
	padding-top: 20px;
}
/*white-space*/
.white-space{
	padding: 30px 0px;
}
/*white-space*/
.white-space.space-big{
    padding: 60px 0px;
}


/*footer*/
.social{
	text-align: center!important;
}
#footer hr{
	border-color: #505562;
}
.footer-logo ul li{
	    margin: 0px 20px;
}
#header.overflow{
	background-color: #2e3192!important;
}
#header {
    position: fixed;
    top: 30px;
    padding-top: 0px;
     min-height: 90px;
         border-top: 3px solid #006eb9;
}
#header .navbar-brand > img {
    position: absolute;
    top: -20px;
}
#header .menu-item a:hover, #header .menu-item.current a {
    color: #ffd502!important;
}
#header .menu-item a {
    line-height: 60px;
}
#header .nav > li > a {
    padding: 10px 20px;
}
.schedule .nav-tabs > li {
    float: none;
        margin-bottom: 20px;
}
.schedule .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #ed1e53;
    border: none;
}
.schedule .nav-tabs > li > a{
    color: #999999;
    border: none;
}
.schedule  .nav-tabs > li > a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.schedule .nav-tabs {
    border-bottom: none;
}
.news {
    background-color: #fff;
}

.overflow {
    overflow: hidden;
}
.news-right .overflow{
	    max-height: 225px;
}

.more{
	padding: 10px 33px;
}
/*gallery*/
.gallery li {
    float: left;
    margin-bottom: 0!important;
}
.gallery_box ul li {
    margin-bottom: 30px!important;
}
.gallery .owl2-carousel-v2__item {
    padding: 16px;
}
.gallery_detail_box {
    font-size: 16px;
    text-transform: uppercase;
    font-family: SVN-Smirk;
    text-align: center;
    width: 100%;
}
.undercontruction{
    color: #2e3192!important;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
/***hoantd***/
#header .navbar-brand > img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#header.stickOnScroll-on .navbar-brand > img {
    position: absolute;
        top: -2px;
    width: 41%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.blog{
    margin-top: 50px;
}
.socical-icon{
    position: relative;
}
.socical-icon:before{
    position: absolute;
    content: "";
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: transparent;
}

.about{
    background-image: url(../images/bg-about9.png);
    background-repeat: no-repeat;
       background-position: center;
    background-color: #242a3b;
            margin-top: -65px;
}
.arrow{
     border-color: transparent;
    top: -44px;
    left: 8.5%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #D31A1A;
    border-width: 8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

#gallery{
    background-image: url("../images/bg-gallery.png");
    background-repeat: no-repeat;
       background-size: 100%;
}
#box-news{
    background-image: url("../images/bg-news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.to {
    background-repeat: no-repeat;
    background-color: #242a3b;
}
#schedule{
    background-image: url("../images/bg-to.png");
     background-repeat: no-repeat;
    background-color: #242a3b;
}

#about {
    padding-top: 15px;
}
#about.section {
    margin-bottom: 0px!important;
}
.contact {
    background-color: #242a3b;
}



.table-shedule .table > thead > tr > th, .table-shedule .table > tbody > tr > th, .table-shedule .table > tfoot > tr > th, .table-shedule .table > thead > tr > td, .table-shedule .table > tbody > tr > td, .table-shedule .table > tfoot > tr > td {
   border: none;
    text-align: center;
	color: #fff;
}
tr.head {
    border-bottom: 3px solid #64c0bb;
}

.gallery-slide h3{
    line-height: 1.5;
}
#video-2 p{
    margin-bottom: 0px!important;
}


#to-carousel.owl-carousel .owl-item {
     text-align: left;
     padding: 0px 15px;
}
.gallery_box ul li {
    margin: 0px;
}

#box-news .box-info{
    width: 100%;
    bottom: 0;
    background-color: #242a3b;
    padding: 0px 20px 20px;
}

.divide{
    height: 30px;
}

.single-bws-gallery .home_page_title.entry-header {
    font-family: SVN-Smirk;
}
.bg-row{
    background-color: #191d29;
}