@media (max-width:1024px){
     .container{
        max-width: 100%;
    }
    img {
        max-width:100%;
    }
@media (max-width:768px){
    .white-space-mobile {
    margin-bottom: 30px;
}
       .white-space-mobile.space-small{
    margin-bottom: 10px;
}
        .white-space, .white-space.space-medium {
    padding: 15px 0;
}
.relative-mobile {
    position:relative!important;
    }
    
    .m-marB15 {
        margin-bottom:15px;
    }
}
@media (max-width:767px) {   
    .text-center-mobile {
    text-align:center;
    margin:0px auto;
}
    }
@media (max-width:420px){
    .navbar-toggle .fa-bars {
        font-size: 40px;
    }
     .full-width-mobile {
        width:100%;
    }
	.relative-xs{position:relative;}
.bottom0-xs{bottom:0px;}
.marB30-xs{margin-bottom:30px!important;}
.marB15-xs{margin-bottom:15px!important;}
.procedures .care-img img {
    min-height: auto!important;
}
.footer ul li{line-height:2.5;}
.navbar-toggle {
  margin-right:0px;
    padding-right: 0px;
}
.pad0-xs{padding:0px;}
.padT30-xs{padding-top:30px;}
.text-center-xs{text-align:center;}
.mar0-xs{margin:0px!important;}
}